@import "~theme/abstracts/mixins";

.tab-content {
  min-height: 20rem;
  padding: 2rem;
  background-color: var(--background-color);
  align-items: flex-start;
  border-radius: 0px 0px 10px 10px;
  @include customBorder(0, 1px, 1px, 1px, solid, var(--grey-color));

  &--grided {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 4rem;

    &-item {
      font-size: 12;
      font-weight: 500;
      border-bottom: 1px dashed var(--grey-color);
      padding: 12px 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &--active {
        text-decoration: underline;
      }
    }

    &--empty {
      font-size: 12;
      font-weight: 500;
    }
  }
}
