@import "~theme/main";

.tab-content {
  min-height: 20rem;
  padding: 1rem;
  background-color: var(--background-color);
  align-items: flex-start;
  border-radius: 0 0 10px 10px;
  @include customBorder(0, 1px, 1px, 1px, solid, var(--grey-color));
  @include md {
    padding: 2rem;
  }

  &--grided {
    @include xl {
      @include grid-col(2, 2rem);
    }
  }

  &__user-info {
    margin-bottom: 1rem;
    @extend %flex-center;
    @include xl {
      margin-bottom: 0;
    }
  }

  &__list {
    @include grid-col(2, 4rem);

    &-item {
      font-size: $font-size-sm;
      font-weight: 500;
      border-bottom: 1px dashed var(--grey-color);
      padding: 12px 0;
      cursor: pointer;
      @include md {
        font-size: $font-size-md;
      }

      &:hover {
        text-decoration: underline;
      }

      &--active {
        text-decoration: underline;
      }

      &--skeleton {
        height: 1.5rem;
        background-color: var(--grey-color);
        margin: 12px 0;
        border-radius: 6px;
      }
    }

    &--empty {
      font-size: $font-size-sm;
      font-weight: 500;
      @include md {
        font-size: $font-size-md;
      }
    }
  }
}
