@import "theme/helper.scss";

.tabItem {
  width: 45px;
  height: 35px;
  background-color: var(--background-color);
  cursor: pointer;
  position: relative;
  border: 1px solid var(--grey-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @extend %flex-center;
  @include breakpoint(1500px) {
    width: auto;
  }

  &__label {
    font-size: 18px;
    font-weight: 600;
  }

  &__count {
    font-size: 10px;
    position: absolute;
    right: 2px;
    bottom: 2px;
  }

  &--active {
    border-bottom: 0px;
    @include box-shadow(0px, 5px, 5px, rgba(165, 152, 152, 0.3), true);
  }

  &--disable {
    color: var(--grey-color);
  }
}
